@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
        font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .material-symbols-outlined.filled {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  body {
        font-family: 'Lexend', sans-serif;
   }

  .hide-scrollbar::-webkit-scrollbar {
        display: none;
  }
  .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
  }